<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332257047082-rj15105ihftf45tgeq0mh39vkv92jqih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332257047082-rj15105ihftf45tgeq0mh39vkv92jqih</string>
	<key>API_KEY</key>
	<string>AIzaSyBWuSQI2Rb-FRKMlgXu6ycWubo-JrHl7nI</string>
	<key>GCM_SENDER_ID</key>
	<string>332257047082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.MyFilms</string>
	<key>PROJECT_ID</key>
	<string>myfilms-27210</string>
	<key>STORAGE_BUCKET</key>
	<string>myfilms-27210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332257047082:ios:7fe5fa2b9df27b512a0953</string>
	<key>DATABASE_URL</key>
	<string>https://myfilms-27210.firebaseio.com</string>
</dict>
</plist>